/* sticky sidebar at non-mobile screen size */
@media screen and (min-width: 876px) {
    div.sphinxsidebar {
        position: fixed;
        float: none;
        margin-left: 0;
        top: 2em;
        bottom: 0;
        overflow: auto;
    }
}
div.document {
    min-height: 20em;
}
div.document,
div.footer {
    width: auto;
    max-width: 940px;
}

/* no border on image links */
a.image-reference:hover {
    border-bottom: none;
}

div.body p.caption {
    text-align: left;
    font-style: italic;
}
